* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

.dft-transition {
    transition: .25s all ease-out;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #afff36;
}

#scanner {
    width: 450px;
    height: 550px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-color: #ffffffe7;
    box-shadow: 5px 5px 4px #00000010;
}

#bip_txt, .btn, #bip_input, #scanner_output {
    padding: 10px 20px;
    width: 380px;
    text-align: center;
}

.btn {
    width: 100%;
    cursor: pointer;
    color: #ffffff;
    background-color: #000;
    border: 1px solid #000;
    border-radius: 20px;
}

.btn:hover {
    color: #000;
    background-color: #fff;
    border-radius: 20px;
}

#bip_btn {
    margin-bottom: 20px;
}

#bip_input {
    color: #000;
    border: 1px solid #000;
    background-color: #e0e0e0;
    border-radius: 20px;
}

#bip_type {
    font-weight: 900;
}

#scanner_output {
    margin-top: -40px;
}

/*********** SCAN APP CONFIG ***************/

#reader {
    border: none !important;
    width: 380px !important;
}

#reader__scan_region {
    width: 380px !important;
}

video {
    width: 380px !important;
}

#html5-qrcode-button-camera-stop, #html5-qrcode-button-camera-start {
    content: "Parar câmera";
    margin: 20px 0px;
    padding: 5px;
    font-size: 12px;
    width: 100%;
    cursor: pointer;
    color: #ffffff;
    background-color: #000;
    border: 1px solid #000;
    border-radius: 20px;
    transition: .25s all ease-out;
}

#html5-qrcode-button-camera-stop:hover,  #html5-qrcode-button-camera-start:hover {
    color: #000;
    background-color: #fff;
    border-radius: 20px;
    transition: .25s all ease-out;
}

#html5-qrcode-anchor-scan-type-change {
    display: none !important;
}

